<% @accounts.each do |acct| %>
<p>
<strong>Account name:</strong>
<%= acct.account %>
</p>

<p>
<strong>Balance:</strong>
<%= acct.balance %>
</p>

<% end %>
<%= link_to 'Create New Account', new_account_path %>
<%= link_to 'View Transactions', controller: 'transactions' %>
<%= link_to 'Back', home_index_path %>
